[Unit]
Description=Gunicorn instance to serve infobot
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/infobot
Environment="PATH=/home/ubuntu/infobot/infobotenv/bin"
ExecStart=/home/ubuntu/infobot/infobotenv/bin/gunicorn --workers 3 --bind unix:infobot.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target


