<div class="container-fluid" style="background-color: white;">
  <div *ngFor="let post of posts">
    <hr style="height:5px; background-color: darkblue;"><br><br>
      <!-- post.image.url -- deprecated in favor of inlining images in the rtf markdown:
      <div><img class="img-fluid mx-auto d-block" src="http://localhost:1337{{post.image.url}}" alt=""></div>
      -->
      <div>
        <h4 style="text-align: center;">
          {{post.title}}
        </h4>
        <br><br>
      </div>
        <markdown ngPreserveWhitespaces>
          {{post.content}}
        </markdown>
  </div>
</div>
